.promocode-card {
    --main-color: var(--orange);
    --text-color: var(--white);

    &.dark {
        --main-color: var(--light-grey);
        --text-color: var(--black);
    }

    width: 100%;
    aspect-ratio: 2 / 1;
    border-radius: 10px;
    overflow: hidden;
    margin: auto;
    color: var(--text-color);
    filter: drop-shadow(0 0 2.5px rgba(0, 0, 0, 0.5));
    display: flex;
    align-items: stretch;
    position: relative;
    text-transform: uppercase;
    container-type: inline-size;

    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 0;
        width: 50%;
        height: 100%;
        z-index: -1;
    }

    &::before {
        left: 0;
        background-image: radial-gradient(circle at 0 50%, transparent 25px, var(--main-color) 26px);
        filter: opacity(70%);
    }

    &::after {
        right: 0;
        background-image: radial-gradient(circle at 100% 50%, transparent 25px, var(--main-color) 26px);
        filter: opacity(70%);
    }

    > div {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .left {
        width: 20%;
        box-sizing: border-box;
        border-right: 2px dashed rgba(0, 0, 0, 0.13);
        padding-left: 10px;

        div {
            transform: rotate(-90deg);
            white-space: nowrap;
            font-weight: bold;
            font-size: 18px;
        }
    }

    .center {
        flex-grow: 1;
        text-align: center;

        h2 {
            background: var(--text-color);
            color: var(--main-color);
            padding: 0 10px;
            font-size: 32px;
            white-space: nowrap;
        }

        h3 {
            margin: 5px 0;
            font-size: 24px;
        }

        small {
            font-size: 12px;
            font-weight: 600;
            letter-spacing: 2px;
        }
    }

    .right {
        width: 25%;
        position: relative;
        background-image: radial-gradient(circle at 100% 50%, transparent 25px, var(--white) 26px);

        .promocode-card__copy-button-container {
            position: absolute;
            top: 5%;
            left: 50%;
            transform: translateX(-50%);

            button {
                background: transparent;
                width: fit-content;
                height: fit-content;
            }
        }
    }

    @container (max-width: 400px) {
        .left div {
            font-size: 16px;
        }

        .center {
            h2 {
                font-size: 26px;
            }

            h3 {
                margin: 5px 0;
                font-size: 20px;
            }

            small {
                font-size: 9px;
            }
        }

        &::before {
            background-image: radial-gradient(circle at 0 50%, transparent 10px, var(--main-color) 11px);
        }

        &::after {
            background-image: radial-gradient(circle at 100% 50%, transparent 10px, var(--main-color) 11px);
        }

        .right {
            background-image: radial-gradient(circle at 100% 50%, transparent 10px, var(--white) 11px);
        }
    }

    @container (max-width: 300px) {
        .left div {
            font-size: 12px;
        }
    }
}
