tr {
    background-color: var(--white);
    cursor: pointer;
    box-sizing: border-box;
    overflow: hidden;
    height: 80px;

    @media (max-width: 600px) {
        height: 200px;
        border-radius: 20px;
        padding: 20px;
        gap: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        border: 2px solid var(--light-grey);
        margin-bottom: 20px;
    }

    &.completed {
        color: var(--dark-gray);
    }

    &.empty {
        border: none;
        cursor: auto;

        &:hover {
            background-color: var(--white);
        }
    }

    &:hover {
        background-color: var(--light-grey);

        td:first-child{
            border-radius: 10px 0 0 10px;
        }

        td:nth-child(4) {
            border-radius: 0 10px 10px 0;
        }
    }

    td {
        border: none;
        padding: 20px; // Отступы внутри ячейки
        box-sizing: border-box;


        span {
            display: block;
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &:first-child, &:last-child { // Колонка статуса
            font-weight: bold;
        }

        @media (max-width: 600px) {
            padding: 0;
            display: flex;
            align-items: flex-start;
            gap: 20px;
            width: 100%;

            &::before {
                content: attr(data-label);
                font-weight: bold;
                display: inline-block;
                width: 30%;
                text-align: left;
            }
        }
    }

    .show-order-button-wrapper {
        display: none;

        @media (max-width: 600px) {
            display: block;
        }
    }
}