.slider {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--light-grey);
    border-radius: var(--border-radius);
    border: none;

  
  button {
    flex: 1;
    transition: color 0.3s ease;
    z-index: 2;
    background-color: transparent !important;
  }
  
  &__indicator {
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    background-color: var(--orange);
    border-radius: var(--border-radius);
    transition: transform 0.3s ease, width 0.3s ease;
    border: none;
    z-index: 1;
    width: 0;
    overflow: hidden;
  }
}