<div class="carousel" id="carousel-{{id}}">
    <div class="carousel__cards"></div>
    <div class="carousel__buttons">
        <button class="carousel__button carousel__button--prev">&#10094;</button>
        <button class="carousel__button carousel__button--next">&#10095;</button>
    </div>
</div>
