.layout {
  position: relative;
  background: transparent;

}

#csat-form-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.form-frame {
  position: fixed;
  width: 600px;
  height: 300px;
  background: transparent;
  transition: 0.4s;
  right: 0px;
  border: none;
  bottom: 0px;
  z-index: 100001;
  margin-top: 50px;
  pointer-events: none;
  box-sizing: border-box;

  @media (max-width: 500px) {
    right: 0;
    bottom: 0;
    width: 92vw;
  }
}
