.csat-form {
  padding: 20px;
  border-radius: var(--border-radius);
  background: var(--white);
  box-shadow: 0 2px 10px rgb(0 0 0 / 10%);
  min-height: 200px;
  width: 500px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  overflow: hidden;
  z-index: 100;


  @media (max-width: 500px) {
    width: 92vw;
    left: 0;
    bottom: 0;
    position: absolute;
  }

  &__close_icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;

    &:hover {
      opacity: 0.6;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__header {
    display: flex;
    align-items: flex-end;
  }
}
