<div class="csat-form">
    <div class="csat-form__header">
        <img src="/src/assets/close.png" class="csat-form__close_icon" alt="close icon">
    </div>
    <div class="csat-form__content">
        <div class="csat-form__questions"></div>
        <div class="form__line question__navigation-buttons"></div>
    </div>
</div>
