.authPage {
  min-height: calc(100vh - var(--real-header-height));
  box-sizing: border-box;
  width: 100%;
  padding: 60px 0 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-row: 1;
  grid-auto-rows: min-content;
  background-image: url('~@assets/background.jpg');
  background-attachment: fixed;
  background-size: 100vw auto;
  background-position: center top;
  background-repeat: no-repeat;

  &__line {
    grid-column: 5 / span 4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 80%;
    gap: 5px;
    padding: 0;
    background-color: #686868;
    border-radius: 25px;
    margin: 0 auto 15px;
  }

  &__body {
    grid-column: 5 / span 4;
    grid-row: 3;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    margin-bottom: 5vh;
  }
}