<div class="register-form">
    <h2>Зарегистрироваться</h2>
    <form>
        <input type="text" placeholder="Логин" required>
        <input type="password" placeholder="Пароль" required>
        <input type="password" placeholder="Повторите пароль" required>
        <button class="register-form__register-button" type="submit">Войти</button>
    </form>
    <a class="signin-link">Уже есть аккаунт?</a>
</div>