<div class="login-form">
    <h2>Зарегистрироваться</h2>
    <form>
        <input type="email" placeholder="Электронная почта" required>
        <input type="password" placeholder="Пароль" required>
        <input type="password" placeholder="Повторите пароль" required>
        <button type="submit">Войти</button>
    </form>
    <a class="signin-link">Уже есть аккаунт?</a>
</div>