.main_header {
  display: grid;
  grid-template-areas:
    "header__logo header__logo header__search header__search header__search header__search header__location header__location header__location header__login header__buttons header__buttons";
  align-items: center;

  &.scrolled {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

  .header {
    &__buttons {
      grid-area: header__buttons;
      display: flex;
      gap: 20px;
      height: 35px;

      button {
        display: flex;
        align-items: center;
        gap: 15px;
        color: black;
        background-color: var(--light-grey);
        border-radius: 10px;
        padding: 8px 15px;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: var(--grey);
        }
      }
    }

    &__location {
      grid-area: header__location;

      &_select_button {
        width: 100%;
        text-align: left;
        background-color: var(--light-grey);
        color: var(--black);
        padding: 10px;
        height: 35px;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        background-image: url("./src/assets/location.png");
        background-repeat: no-repeat;
        background-position: right 10px center;
        background-size: 20px 20px;
        position: relative;

        &:hover {
          background-color: var(--grey);
        }
      }

      &_dropdown {
        width: 300px;
        top: calc(100%);
        position: absolute;
        background-color: var(--white);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        color: black;
        padding: 7px;
        border-radius: 20px;
        border: none;

        &_button {
          background-color: var(--light-grey);
          border-radius: 15px;
          display: flex;
          align-items: center;
          padding: 7px;
          font-size: 15px;
          background-image: url("./src/assets/right-arrow.png");
          background-repeat: no-repeat;
          background-position: right 10px center;
          background-size: 20px 20px;

          &:hover {
            background-color: var(--grey);
          }
        }


        &_icon {
          height: 30px;
          margin-right: 10px;
          width: auto;
        }

      }
    }
  }
}
