<div class="logo">
        Delivery
</div>
<div class="search-form">
    <form action="">
        <label>
            <input class="search-form-input" placeholder="Поиск по ресторанам" type="text" />
        </label>
        <button class="search-form-button">Найти</button>
    </form>
</div>
<button class="address-button">Выберите адрес доставки</button>
<button class="login-button">Войти</button>