<div class='header__logo'></div>
<div class="header__location">
    <div class="header__location_select_button">
    </div>
    <div class="header__location_dropdown">
        <div class="header__location_dropdown_button">
            <img class="header__location_dropdown_icon" src="/src/assets/yandex-maps-logo.png" alt="map icon">
            <div>Куда доставить?</div>
        </div>
        <div class="header__location_dropdown_options">
        </div>
    </div>
</div>
<div class='header__cart_button'>
</div>
<div class='header__auth_buttons'>
</div>