<div class="header__overlay"></div>
<div class='header__logo'></div>
<div class="header__search"></div>
<div class="header__location">
    <div class="header__location_select_button">
        <span class="header__location_select_button__text"></span>
    </div>
    <div class="header__location_dropdown">
        <div class="header__location_dropdown_button">
            <img class="header__location_dropdown_icon" src="/src/assets/yandex-maps-logo.png" alt="map icon">
            <div>Куда доставить?</div>
        </div>
        <div class="header__location_dropdown_options">
        </div>
    </div>
</div>
<div class='header__cart_button'>
</div>
<div class='header__auth_button'>
</div>
<div class="header__profile-dropdown">
    <div class="header__profile-dropdown__button">
        <img
                src=""
                id="header__profile-dropdown__image__avatar"
                alt="Avatar"
        />
    </div>
    <div class="header__profile-dropdown__options">
        <div class="header__profile-dropdown__image__wrapper">
        </div>
        <span class="header__profile-dropdown__first-name">Имя</span>
        <span class="header__profile-dropdown__second-name">Фамилия</span>
        <div class="header__profile-dropdown__buttons-container">
        </div>
    </div>
</div>