.header__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 12;
  opacity: 0;
  transition: opacity 0.3s ease;
  display: none;
}

.main_header, .mobile_header {
  &.scrolled {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

  .header {

    &__auth_button {
      max-width: 100%;;
      box-sizing: border-box;
      height: 100%;
      grid-area: header__auth_button;
    }

    // Класс для дропдауна профиля
    &__profile-dropdown {
      position: relative;
      width: 100%;
      height: 100%;
      display: none;
      grid-area: header__auth_button;

      &.active {
        // Если добавляем доп класс "active"
        display: flex;
      }

      // Сам дропдаун, те менюшка при клике на кнопку
      &__options {
        position: absolute;
        z-index: 11;
        top: 100%;
        right: 0;
        margin-top: 10px; // Сколько вниз от хедера
        padding: 10px; // Внутренние отступы чтобы не слипались с границами
        width: 200px;
        border: 1px solid black;
        background-color: #fff;
        color: black;
        font-size: 16px;
        border-radius: 10px;
        display: none; // Скрываем по умолчанию

        &.active {
          // Если добавляем доп класс "active"
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          gap: 10px;
          grid-template-areas:
            "avatar first-name first-name first-name"
            "avatar second-name second-name second-name"
            "buttons buttons buttons buttons";
        }
      }

      &__image__wrapper {
        grid-area: avatar;
        width: 100%;
        aspect-ratio: 1 / 1;
        overflow: hidden;
        border-radius: 50%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
          display: block;
        }
      }

      &__first-name {
        grid-area: first-name;
      }

      &__second-name {
        grid-area: second-name;
      }

      &__buttons-container {
        grid-area: buttons;
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
      }
    }

    &__location {
      grid-area: header__location;
      height: 100%;
      width: 100%;

      @media (max-width: 800px) {
        max-width: 300px;
      }

      @media (max-width: 500px) {
        max-width: 250px;
      }

      @media (max-width: 400px) {
        max-width: 150px;
      }

      &_select_button {
        width: 100%;
        max-width: 300px;
        text-align: left;
        background-color: var(--black);
        color: var(--white);
        padding: 0 50px 0 10px;
        height: 100%;
        box-sizing: border-box;
        border-radius: var(--border-radius);
        border: none;
        cursor: pointer;
        font-size: 16px;
        background-image: url("~@assets/navigation.png");
        background-repeat: no-repeat;
        background-position: right 10px center;
        background-size: 15px 15px;
        position: relative;
        display: flex;
        align-items: center;

        &__text {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          flex-grow: 1;
          min-width: 0;
          display: block;
        }

        &.selected {
          background-color: var(--light-grey);
          color: var(--black);
          background-image: url("~@assets/location.png");
          background-size: 25px 25px;
          &:hover {
            background-color: var(--grey);
          }
        }
      }

      &_dropdown {
        display: none;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        color: black;
        background-color: var(--white);
        border: 7px solid var(--white);
        overflow: hidden;

        &_button {
          background-color: var(--light-grey);
          display: flex;
          align-items: center;
          cursor: pointer;
          padding: 7px;
          background-image: url("~@assets/right-arrow.png");
          background-repeat: no-repeat;
          background-position: right 10px center;

          &:hover {
            background-color: var(--grey);
          }
        }

        &_options {
          width: 100%;
          container-type: inline-size;
        }
      }
    }
  }
}

.main_header {
  grid-template-areas:
    "header__logo header__location header__cart_button header__auth_button";
  column-gap: 20px;
  grid-template-columns: 2fr 8fr 1fr 1fr;
  padding-left: 7vw;
  padding-right: 7vw;


  .header {
    &__cart_button {
      width: 100%;;
      height: 100%;
      grid-area: header__cart_button;
    }

    &__location_dropdown {
      width: 300px;
      top: calc(100%);
      position: absolute;
      background-color: var(--white);
      border-radius: 20px;

      &_button {
        font-size: 16px;
        background-size: 20px 20px;
      }

      &_icon {
        height: 30px;
        margin-right: 10px;
        width: auto;
      }
    }
  }
}

.mobile_header {
  grid-template-areas:
    "header__logo header__location header__auth_button";
  grid-template-columns: 4fr auto 4fr;
  padding-left: 2vw;
  padding-right: 2vw;
  column-gap: 10px;

  .header {
    &__cart_button {
      position: fixed;
      padding: 10px;
      width: 100%;
      box-sizing: border-box;
      height: 65px;
      background-color: var(--white);
      bottom: 0;
      box-shadow: 0 -8px 10px rgba(0, 0, 0, 0.2);
      z-index: 11;
    }

    @keyframes moveUp {
      0% {
        transform: translateY(100%);
      }

      100% {
        transform: translateY(0);
      }
    }

    @keyframes moveDown {
      0% {
        transform: translateY(0);
      }

      100% {
        transform: translateY(100%);
      }
    }

    &__location_dropdown {
      position: fixed;
      bottom: 0;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      width: 100%;
      left: 0;
      box-sizing: border-box;
      border: 14px solid var(--white);
      z-index: 11;

      &_button {
        border-radius: 30px;
        font-size: 20px;
        background-size: 25px 25px;
      }

      &_icon {
        height: 50px;
        margin: 0 10px;
        width: auto;
      }
    }
  }
}
