/* Хедер */
.header {
	box-sizing: border-box;
	width: 100%;
	padding: 0px;
	display: grid;
	grid-template-areas: "header__logo header__logo header__search header__search header__search header__search header__location header__location header__location . header__buttons header__buttons";
	gap: 20px;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	background-color: white;
	height: 50px;
	transition: box-shadow 0.3s ease;
}

.header__buttons {
	grid-area: header__buttons;
	display: flex;
	gap: 20px;
	height: 35px;
}

.header__buttons button {
	display: flex;
	gap: 15px;
	color: black;
	background-color: var(--light_grey);
	border-radius: 10px;
}

.header__buttons button:hover {
	background-color: var(--grey);
}

.header--scrolled {
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
