<div class='header__login'></div>
<div class="header__location">
    <div class="header__location_select_button">
        Укажите адрес доставки
    </div>
    <div class="header__location_dropdown">
        <div class="header__location_dropdown_button">
            <img class="header__location_dropdown_icon" src="/src/assets/yandex-maps-logo.png" alt="toast icon">
            <div>Куда доставить?</div>
        </div>
        <div class="header__location_dropdown_options">

        </div>
    </div>
</div>
<div class='header__buttons'>
</div>