# Node.js
node_modules/

# Логи
npm-debug.log
yarn-debug.log
yarn-error.log

# Переменные окружения
.env

# Системные файлы (например, для macOS)
.DS_Store

# Временные файлы, сгенерированные IDE
.idea/

# Файлы, создаваемые при сборке или тестировании
coverage/
dist/

# Локальные настройки или файлы, специфичные для редакторов
.vscode/