// Страница профиля
.profile-page__body {
    margin-top: 40px;
    width: 100%;
    padding: 0 0 40px 0;
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
    gap: 40px 0;
    grid-template-areas:
        ". data ."
        ". address . "
        ". orders .";
    // Если оставляем категории нужно вставить их в template-areas

    .button {
        width: fit-content;
        padding: 5px 15px;
        height: 35px;
    }
}

/*
// Обертка для блока категорий
.profile-categories__wrapper {
    grid-area: categories;
}
*/

// Блок изменения данных
.profile-data {
    grid-area: data;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    font-size: 16px;
    text-align: left;

    &__header {
        grid-column: span 12;
        grid-row: 1;
        font-size: 32px;
        font-weight: bold;
    }

    // Основное тело с инпутами
    &__body {
        // * * * [* * * * * * * * *]
        grid-column: 4 / span 9;
        grid-row: 2;
        display: flex;
        flex-direction: column;
        gap: 1vh;
    }

    // Блок и изменением аватарки
    &__avatar {
        // [* * *] * * * * * * * * *
        grid-column: span 3;
        grid-row: 2;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;

        &-image__wrapper {
            position: relative;
            width: 100%;
            aspect-ratio: 1 / 1;

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(50%, 50%);
                width: 100%;
                aspect-ratio: 1 / 1;
                object-fit: contain;
                // Круглую аватарку делаем как с рестораном?
                border-radius: 50%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

    }
}

// Блок изменения/добавления/удаления адресов
.profile-address {
    grid-area: address;
    display: grid;
    gap: 20px;
    font-size: 16px;
    text-align: left;

    &__header {
        font-size: 32px;
        font-weight: bold;
    }

    &__body {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}

// Блок заказов
.profile-orders {
    grid-area: orders;
    font-size: 16px;
    text-align: left;
    display: grid;
    gap: 20px;

    &__header {
        font-size: 32px;
        font-weight: bold;
    }

    &__body {
        display: flex;
        flex-direction: column;
        gap: 0px;
    }
}