// Страница профиля
.profile-page__body {
    width: 100%;
    box-sizing: border-box;
    gap: 40px;
    display: flex;
    flex-direction: column;
    padding: 60px 15vw;

    @media (max-width: 1200px) {
        padding: 40px 10vw;
    }

    @media (max-width: 900px) {
        padding: 40px 7vw;
    }

    @media (max-width: 450px) {
        padding: 40px 5vw;
    }

    .button {
        width: fit-content;
        padding: 5px 15px;
        height: 35px;

        @media (max-width: 800px) {
            width: 100%;
        }
    }
}


// Блок изменения данных
.profile-data {
    display: grid;
    grid-template-columns: 25% 75%;
    gap: 20px;
    font-size: 16px;
    text-align: left;
    align-items: center;
    justify-content: center;

    @media (max-width: 800px) {
        display: flex;
        flex-direction: column;
    }

    &__header {
        grid-column: span 2;
        grid-row: 1;
        font-size: 32px;
        font-weight: bold;
    }

    // Основное тело с инпутами
    &__body {
        // * * * [* * * * * * * * *]
        grid-column: 2 / span 1;
        grid-row: 2;
        display: flex;
        flex-direction: column;
        gap: 1vh;
        width: 100%;
    }

    &__checkbox {
        margin: 10px 0;
        width: 100%;
        grid-column: 2 / span 1;
    }

    // Блок и изменением аватарки
    &__avatar {
        // [* * *] * * * * * * * * *
        margin-top: 45px;
        grid-column: 1 / span 1;
        grid-row: 2;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;

        @media (max-width: 800px) {
            margin-top: 0;
            max-width: 250px;
        }

        &-image__wrapper {
            width: 100%;
            aspect-ratio: 1 / 1;
            overflow: hidden;
            border-radius: 50%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
                display: block;
            }
        }

    }
}

// Блок изменения/добавления/удаления адресов
.profile-address {
    display: grid;
    gap: 20px;
    font-size: 16px;
    text-align: left;

    &__header {
        font-size: 32px;
        font-weight: bold;
    }

    &__body {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    @media (max-width: 1200px) {
        gap: 10px;
    }

    @media (max-width: 1200px) {
        gap: 7px;
    }
}

// Блок промокодов
.profile-promocodes {
    display: none;
    flex-direction: column;
    gap: 20px;

    @media (max-width: 800px) {
        gap: 10px;
    }

    &__header {
        font-size: 32px;
        font-weight: bold;
    }

    &__body {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;

        @media (max-width: 900px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media (max-width: 600px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 350px) {
            grid-template-columns: 1fr;
        }
    }
}

// Блок заказов
.profile-orders {
    font-size: 16px;
    text-align: left;
    display: none;
    gap: 20px;

    @media (max-width: 600px) {
        grid-row: 3;
    }

    &__header {
        font-size: 32px;
        font-weight: bold;
    }

    &__body {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .pagination-wrapper {
        @media (max-width: 600px) {
            grid-row: 2;
        }
    }
}