<div class="profile-page__body">
    <!--
    <div class="profile-categories__wrapper">
    </div>
    -->
    <div class="profile-data">
        <span class="profile-data__header">Мои данные:</span>
        <div class="profile-data__avatar">
            <div class="profile-data__avatar-image__wrapper">
                <img
                        id="profile-data__avatar-image"
                        src="https://doordashers.ru/var/images_user/{{path}}"
                        alt="Avatar"
                        onerror="this.onerror=null; this.src='./src/assets/profile.png';"
                />
            </div>
            <input type="file" id="profile-data__avatar-input" accept=".jpg, .jpeg, .png" hidden />
            <div id="profile-data__avatar-load-button__wrapper"></div>
        </div>
        <div class="profile-data__body">
        </div>
    </div>
    <div class="profile-address">
        <span class="profile-address__header">Мои адреса:</span>
        <div class="profile-address__body">
            <div class="profile-address__addresses__wrapper">
            </div>
        </div>
    </div>
    <!--    <div class="profile-orders">
        <span class="profile-orders__header">Мои заказы:</span>
        <div class="profile-orders__table__wrapper">
        </div>
    </div>-->
</div>