<div class="dropdown">
    <div class="dropdown__header">
        <span>{{text}}</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
            <path d="M7.247 4.86l-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592c.859 0 1.335-.992.753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z" />
        </svg>
    </div>
    <div class="dropdown__body">
    </div>
</div>