<div class="restaurant-page__body">
    <div class="restaurant-header__wrapper">
    </div>
    <div class="restaurant-reviews__wrapper">
    </div>
    <div class="restaurant-products">
        <div class="product-categories__wrapper">
        </div>
        <div class="product-cards__body">
        </div>
        <div class="cart__wrapper">
        </div>
    </div>
</div>