<div class="restaurant-page__body">
    <div class="restaurant-page__main">
        <div class="restaurant-header__wrapper">
        </div>
        <div class="restaurant-reviews__wrapper">
        </div>
        <div class="product-cards__body">
        </div>
        <div class="restaurant-page__no-results">
            <img src="/src/assets/no-results.png" alt="No Results">
            <h1>По вашему запросу ничего не найдено</h1>
        </div>
    </div>
    <div class="cart__wrapper">
    </div>
</div>