<div class="form__error"></div>
<div class="form__line">
    <div id="form__line__firstName"></div>
    <div id="form__line__secondName"></div>
</div>

<div class="form__line" id="form__line__phoneNumber"></div>

<div class="form__line" id="form__line__login"></div>
<div class="form__line" id="form__line__password"></div>
<div class="form__line" id="form__line__repeatPassword"></div>
<div class="form__line form__line_submit_button" id="form__line__submitButton"></div>
