<div style="overflow-x:auto;">
    <table class="table">
        <thead>
            <tr>
                {{#each headers}}
                <th class="table__header">{{this}}</th>
                {{/each}}
            </tr>
        </thead>
        <tbody>
            {{#each rows}}
            {{/each}}
        </tbody>
    </table>
</div>