.profile-table {
    width: 100%;
    border-collapse: collapse;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    background-color: var(--white);
    table-layout: fixed;
    border-spacing: 0;
    text-align: center;

    thead {
        box-sizing: border-box;
        font-size: 20px;

        th {
            padding: 30px 0;
        }

        tr:hover {
            background-color: var(--white);
            cursor: default;
        }

        @media (max-width: 600px) {
            display: none;
        }
    }
}