<table class="profile-table" id="{{id}}">
    <thead>
        <tr>
            {{#each headers}}
            <th>{{this}}</th>
            {{/each}}
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>