<div class="form__error"></div>
<div class="form__line" id="form__line_login"></div>
<div class="form__line" id="form__line_password"></div>
<!--<div class="login-form__otp-code">
    <img class="login-form__otp-code__icon" src="/src/assets/mobile.png" alt="Check phone">
    <div class="login-form__otp-code__right">
        <div class="login-form__otp-code__header">
            <h1>Введите OTP код</h1>
            <h2>Введите разовый 6-значный код, отправленный в приложение</h2>
        </div>
        <div class="login-form__otp-code__body">
        </div>
    </div>
</div>-->
<div class="form__line form__line_submit_button" id="form__line_login_button_container"></div>
