<div class="survey-statistic-page__body">
    <span class="survey-statistic-page__header">Статистика по опросам</span>
    <div class="survey-statistic-page__survey-container">
    <!-- Сюда будем рендерить дропдауны опросов -->
    </div>
</div>