.error-page {
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;

  &__number-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 700px;

    @media (max-width: 520px) {
      display: none;
    }
  }

  &__number {
    font-size: 25em;
    color: var(--white);
    text-shadow:
            -5px -5px 0 var(--orange),
            0px -5px 0 var(--orange),
            5px -5px 0 var(--orange),
            -5px  0px 0 var(--orange),
            5px  0px 0 var(--orange),
            -5px  5px 0 var(--orange),
            0px  5px 0 var(--orange),
            5px  5px 0 var(--orange),
            -3px -3px 0 var(--orange),
            3px -3px 0 var(--orange),
            -3px  3px 0 var(--orange),
            3px  3px 0 var(--orange);

    @media (max-width: 700px) {
      font-size: 300px;
    }

    @media (max-width: 520px) {
      font-size: 150px;
      text-shadow:
              -2px -2px 0 var(--orange),
              2px -2px 0 var(--orange),
              -2px  2px 0 var(--orange),
              2px  2px 0 var(--orange);
    }

    &--left {
      margin-right: 2%;
      z-index: -1;
    }

    &--right {
      margin-left: 2%;
      z-index: -1;
    }
  }

  &__number-sm {
    display: none;

    @media (max-width: 520px) {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--white);
      font-size: 200px;
      text-shadow:
              -2px -2px 0 var(--orange),
              2px -2px 0 var(--orange),
              -2px  2px 0 var(--orange),
              2px  2px 0 var(--orange);
    }

    @media (max-width: 400px) {
      font-size: 150px;
    }
  }

  &__message {
    font-size: 1.5em;
    margin-top: 90px;
    text-align: center;
  }

  & a {
    text-decoration: none;
    color: var(--orange);
    cursor: pointer;

    &:hover {
      color: var(--dark-orange);
    }
  }

  &__mug {
    background: var(--brown);
    position: relative;
    margin: 0;
    width: 170px;
    height: 150px;
    border-radius: 50%;
    box-shadow:
            0 0 0 10px var(--light-brown),
            0 0 0 25px var(--light-yellow),
            0 0 0 42px var(--light-yellow-light),
            0 0 0 53px var(--orange),
            0 0 0 55px var(--light-yellow-light),
            0 0 0 65px var(--light-yellow-light),
            0 120px 0 -25px var(--light-brown),
            100px 70px 0 -25px var(--light-brown),
            80px 140px 0 -10px var(--light-brown),
            0px 210px 0 -55px var(--light-brown),
            20px 250px 0 -65px var(--light-brown);

    @media (max-width: 700px) {
      width: 113px;
      height: 100px;
    }

    @media (max-width: 520px) {
      width: 56.5px;
      height: 50px;
    }

    &::before {
      content: "";
      position: absolute;
      background: var(--light-yellow-light);
      height: 80px;
      width: 60px;
      top: -85px;
      right: -75px;
      border-radius: 5px;
      box-shadow: inset 0px 50px 0 0px var(--light-yellow-light);
      transform: rotate(45deg);
    }

    &::after {
      content: "";
      width: 20px;
      height: 20px;
      border-radius: 50%;
      position: absolute;
      border: 3px solid var(--grey);
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      opacity: 0.2;
      animation: error-page__rings 3s ease-out infinite;
    }
  }
}

@keyframes error-page__rings {
  to {
    width: 150px;
    height: 150px;
    opacity: 0;
  }
}
