<div class="error-page">
    <div class="error-page__content">
        <div class="error-page__number-group">
            <div class="error-page__number error-page__number--left">4</div>
            <div class="error-page__mug"></div>
            <div class="error-page__number error-page__number--right">4</div>
        </div>
        <div class="error-page__number-sm">404</div>
        <div class="error-page__message">
            Тут ничего нет, <a href="/">вернитесь на главную</a>
        </div>
    </div>
</div>
