.restaurant-header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-items: left;

  &__image {
    position: relative;
    width: 100%;
    height: 250px;
    overflow: visible;
    margin-bottom: 50px;

    &__background {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }

    &__icon {
      position: absolute;
      bottom: -45px;
      left: 50px;
      width: 90px;
      height: 90px;
      border-radius: 50%;
      border: 5px solid #fff;
      object-fit: cover;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__name {
    font-size: 32px;
    font-weight: bold;
  }

  &__description {
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-size: 14px;
    color: #686868;
    align-items: center;
  }
}

.star-svg {
  width: 14px;
  height: 14px;
  fill: currentColor;
}
