.restaurant__header {
    grid-column: 2 / span 10;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-items: left;
}

.restaurant__header__image {
    position: relative;
    width: 100%;
    height: 225px;
    overflow: visible;
}

.restaurant__header__image__background {
    width: 100%;
    height: 200px;
    transform: translateY(calc(-50% + 100px));
    object-fit: cover;
    border-radius: 10px;
}

.restaurant__header__image__icon {
    position: absolute;
    transform: translateY(5px);
    bottom: 0;
    left: 25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid #fff;
    object-fit: cover;
}

/* Блок с названием и описанием ресторана */
.restaurant__header__info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.restaurant__header__name {
    font-size: 32px;
    font-weight: bold;
}

.restaurant__header__description {
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-size: 14px;
    color:#686868;
    align-items: center;
}

.star-svg {
    width: 14px;
    height: 14px;
    fill: currentcolor; /* Позволяет управлять цветом с помощью CSS */
}