<div class="profile-edit-form">
    <div class="form__error"></div>
    <div class="form__line">
        <div id="profile-edit-form__first-name"></div>
        <div id="profile-edit-form__second-name"></div>
        <div id="profile-edit-form__phone-number"></div>
    </div>
    <div class="form__line">
        <div id="profile-edit-form__password"></div>
        <div id="profile-edit-form__repeat-password"></div>
    </div>
    <div class="form__line" id="profile-edit-form__submit-button"></div>
</div>