<!-- Было
<div class="profile-edit-form">
    <div class="form__error"></div>
    <div class="form__line">
        <div id="profile-edit-form__first-name"></div>
        <div id="profile-edit-form__second-name"></div>
        <div id="profile-edit-form__phone-number"></div>
    </div>
    <div class="form__line">
        <div id="profile-edit-form__password"></div>
        <div id="profile-edit-form__repeat-password"></div>
    </div>
    <div class="form__line" id="profile-edit-form__submit-button"></div>
</div>
--> <!-- Стало: Задаю разметку гридами -->
<div class="profile-edit-form">
    <div class="form__error"></div>
    <div class="profile-edit-form__avatar">
        <div class="profile-edit-form__avatar-image__wrapper">
            <img id="profile-edit-form__avatar-image" src="./src/assets/profile.png" alt="Avatar" />
        </div>
        <input type="file" id="profile-edit-form__avatar-input" accept="image/*" hidden />
        <div id="profile-edit-form__avatar-load-button__wrapper"></div>
    </div>
    <div class="profile-edit-form__input-container">
        <div id="profile-edit-form__first-name__wrapper"></div>
        <div id="profile-edit-form__second-name__wrapper"></div>
        <div id="profile-edit-form__phone-number__wrapper"></div>
        <div id="profile-edit-form__password__wrapper"></div>
        <div id="profile-edit-form__repeat-password__wrapper"></div>
    </div>
    <div id="profile-edit-form__submit-button__wrapper"></div>
</div>