/* Хедер */
.aux_header {
    box-sizing: border-box;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
	padding: 0px;
    /* Используем grid для разметки по 12 колонкам */
	display: grid;
    grid-template-areas: ". . . . . header__logo header__logo . . . . .";
	gap: 20px;
    align-items: center;
    justify-content: center;
    height: 35px;
}

.aux_header .logo{
    grid-area: header__logo;
}