/* Хедер */
.aux_header {
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  display: grid;
  grid-template-areas: '. . . . . header__logo header__logo . . . . .';
  gap: 20px;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: white;
  height: 50px;
  box-shadow: 0 2px 10px rgb(0 0 0 / 10%);
  transition: box-shadow 0.3s ease;
}

.aux_header .logo {
  grid-area: header__logo;
}
