.form__input {
  color: black;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  text-align: left;
  width: 100%;
}

.form__input__input-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.form__input input {
  height: 45px;
  border-radius: 10px;
  border: 2px solid transparent;
  background-color: var(--light_grey);
  color: var(--dark_gray);
  padding-left: 10px;
  transition: border 0.3s ease;
}

.form__input__eye-icon {
  position: absolute;
  cursor: pointer;
  width: 20px;
  right: 20px;
}

.form__input__eye-icon img {
  max-width: 100%;
  height: auto;
}

.form__input input:focus {
  border: 2px solid var(--dark_gray);
  outline: none;
}

.form__input span {
  font-size: 20px;
}

.form__input-head {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.form__input__error {
  padding-right: 5px;
  color: var(--red);
}

.form__input input.error {
  border: 2px solid var(--orange);
  background-color: var(--pink);
}
