.form__input {
  color: black;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  text-align: left;
  width: 100%;

  &__input-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  input {
    &.error {
      border: 2px solid var(--orange);
      background-color: var(--pink);
    }
  }

  &__eye-icon {
    position: absolute;
    cursor: pointer;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    display: none;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  &-head {
    display: flex;
    font-size: 16px;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__error {
    padding-right: 5px;
    font-size: 12px;
    color: var(--red);
  }
}
