.form__input {
  color: black;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  text-align: left;
  width: 100%;
  height: 100%;
  min-width: 0;
  overflow: hidden;

  input {
    box-sizing: border-box;
    height: 45px;
    border-radius: var(--border-radius);
    border: 2px solid transparent;
    background-color: var(--light-grey);
    color: var(--dark-gray);
    padding-left: 10px;
    padding-right: 20px;
    transition: border 0.3s ease;

    &:focus {
      border: 2px solid var(--dark-gray);
      outline: none;
    }
  }

  &__input-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  label {
    position: absolute;
    color: var(--dark-gray);
    padding: 0 10px;
    transition: 0.2s ease;
  }

  input {
    min-width: 0;

    &.disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &.disabled + label {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &:focus + label,
    &:valid + label,
    &.disabled + label {
      font-size: 10px;
      padding-bottom: 10px;
      top: 3px;
      left: 0;
    }

    &.error {
      border: 2px solid var(--orange);
      background-color: var(--pink);
    }
  }

  &__eye-icon {
    position: absolute;
    cursor: pointer;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    display: none;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  &-head {
    display: flex;
    min-height: 16px;
    font-size: 16px;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__error {
    padding-right: 5px;
    font-size: 12px;
    color: var(--red);
  }
}
