.slider__title {
  font-weight: bold;
  font-size: 16px;
  padding-bottom: 10px;
}

.slider__description {
  display: flex;
  justify-content: space-between;
  padding-bottom: 90px;
}

.question__content__ratings {
  display: flex;
  justify-content: space-between;
}