<div class="question" id="{{Id}}">
    <div class="slider__item">
        <div class="slider__title">
            {{{Title}}}
        </div>
        <div class="question__content__ratings"></div>
        <div class="slider__description" id="slider__description-{{Id}}">
            <span>Плохо</span>
            <span>Отлично</span>
        </div>
    </div>
</div>
