.category-header {
  scroll-margin-top: calc(var(--header-content-height) + 20px);
  grid-column: 1 / -1;
  width: 100%;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--black);
}
