<div class="more-placeholder">
    <div class="more-placeholder__image-container">
        <img
                src="/src/assets/right-arrow.png"
                alt="right-arrow"
        />
    </div>
    <div class="more-placeholder__text">Показать ещё</div>
</div>