.restaurantList__body {
  min-height: 100vh;
  box-sizing: border-box;
  margin-top: 20px;
  width: 100%;
  padding: 0 7vw;

  .restaurant__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    align-items: start;
    padding-bottom: 10vh;

    @media (max-width: 1500px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 900px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }
  }
}
