<div class="restaurantList__body">
    <div class="restaurant__promotions">
        <h1>Особые предложения и новости</h1>
        <div class="restaurant__promotions__wrapper"></div>
    </div>
    <hr>
    <div class="restaurant__carousel__wrapper">
        <h1>Рекомендуем</h1>
    </div>
    <hr>
    <h1>
        Рестораны
    </h1>
    <div class="restaurant__container">
    </div>
</div>
<div class="lower-sentinel"></div>