.restaurantList__body {
  min-height: 100vh;
  box-sizing: border-box;
  margin-top: 20px;
  width: 100%;
  padding: 0;

  /* Используем grid для разметки по 12 колонкам */
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
  align-items: start;
}

.restaurant__container {
  grid-column: 2 / span 10;

  /* Используем grid для разметки по 4 колонкам */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  align-items: start;
}
