<div class="promocode-form">
    <hr>
    <div class="promocode-form__link">
        <span>У меня есть промокод</span>
        <img id='promocode-form-arrow' src="/src/assets/down-arrow.png" alt="arrow">
    </div>
    <div class="promocode-form__body form__line"></div>
</div>
