.promocode-form {
    &__link {
        width: 100%;
        padding: 10px 0 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 40px;

        img {
            height: 27px;
            object-fit: cover;
            display: block;
        }

        &.hide {
            display: none;
        }

        &:hover {
            color: var(--dark-gray);

            img {
                opacity: 0.7;
            }
        }
    }
}