<div class="product-card{{#if activeClass}}{{ product-card_active}}{{/if}}" id="{{id}}">
    <img src={{image}} alt="product_image">
    <span>{{name}}</span>
    <div class="product-card__footer">
    </div>
</div>