.product-card {
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px; /* ? */
  justify-content: center;
  background-color: #fff;
  position: relative;
}

.product-card:hover {
  background-color: #f2f2f2;
}

.product-card_active {
  background-color: #f2f2f2;
}

.product-card img {
  width: 100%;
  object-fit: contain;
  border-radius: 10px;
}

.product-card span {
  margin-left: 10px;
  font-size: 12px;
}

.product-card__footer {
  margin-top: 20px;
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.product-card__footer span {
  margin: 0;
}

.product-card__footer-container {
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: center;
}

.product-card__footer-container span {
  text-align: center;
}

.product-card__total-price {
  color: #686868;
}

.product-card__amount,
.product-card__price {
  font-weight: bold;
}
