// Класс карточки товара
.product-card {
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  background-color: var(--white);
  position: relative;
  transition: background-color 0.3s ease;

  // Товар в корзине или при наведении на карточку
  &.active,
  &:hover {
    background-color: var(--light-grey);
  }

  &__weight {
    color: var(--dark-gray);
  }

  // Картинка в карточке
  img {
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
  }

  // Общие свойства для текста в карточке
  span {
    font-size: 16px;
    margin-left: 10px;
  }

  &__header {
    display: flex;
  }

  // Класс нижнего блока в карточке
  &__footer {
    margin-top: 20px;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;

    // Общие свойства для текста внизу карточки
    span {
      margin: 0;
    }

    // Контейнер для текста активной карточки (количество + общая стоимость)
    &-container {
      display: flex;
      flex-direction: column;
      gap: 0;
      justify-content: center;

      // Общие свойства для количества и общей стоимости
      span {
        margin-left: 0;
        text-align: center;
      }
    }
  }

  &__total-price {
    color: var(--dark-gray);
  }

  &__price {
    font-weight: bold;
  }

  &__amount {
    font-weight: bold;
    font-size: 14px;
    padding-bottom: 5px;
  }
}
