// Блок отзывов
.restaurant-reviews {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0;
  text-align: left;

  // Заголовок блока отзывов
  &__header {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    margin-left: 5px;
    color: black;
  }

  // Основное тело блока отзывов
  &__body {
    display: grid;
    width: 100%;
    grid-template-areas: 'rating reviews details';
    grid-template-columns: 1fr 7fr 4fr;
    gap: 20px;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid #f2f2f2;
    border-radius: 15px;

    @media (max-width: 1800px) {
      row-gap: 40px;
      grid-template-columns: 2fr 10fr;
      grid-template-areas:
          'rating details'
          'reviews reviews';
    }

    @media (max-width: 800px) {
      column-gap: 10px;
      grid-template-areas:
          'rating details'
          'reviews reviews';
    }

    @media (max-width: 400px) {
      grid-template-columns: 12fr;
      grid-template-areas:
          'details'
          'reviews';
    }
  }

  // Секция рейтинга
  &__rating {
    // Контейнер
    &-container {
      grid-area: rating;
      display: flex;
      flex-direction: column;
      gap: 0;
      justify-content: center;
      align-items: center;
      text-align: center;

      @media (max-width: 400px) {
        display: none;
      }
    }
    // Числовое значение
    &_score {
      font-size: 35px;
      margin-bottom: 15px;
    }

    // Количество оценок
    &_amount {
      margin-top: 10px;
      font-size: 14px;
    }
  }

  // Секция отзывов
  &__reviews-container {
    margin-left: 40px;
    grid-area: reviews;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (max-width: 1800px) {
      margin-left: 0;
    }
  }

  &__no_reviews {
    font-size: 20px;
    font-weight: bold;
    display: none;
  }

  // Секция деталей 
  &__details-container {
    grid-area: details;
    display: flex;
    flex-direction: column;
    gap: 25px;

    @media (max-width: 1200px) {
      flex-direction: row;
    }

    @media (max-width: 700px) {
      flex-direction: column;
    }
  }

  button {
    border-radius: 20px;
    width: fit-content;
    font-size: 14px;
    margin-top: 5px;
    height: 35px;
  }
}