<div class="restaurant-reviews">
    <span class="restaurant-reviews__header">Отзывы и оценки</span>
    <div class="restaurant-reviews__body">
        <div class="restaurant-reviews__rating-container">
            <span class="restaurant-reviews__rating_score">{{rating.score}}</span>
            <span class="restaurant-reviews__rating_stars">{{rating.start}}</span>
            <span class="restaurant-reviews__rating_amount">{{rating.amount}}</span>
        </div>
        <div class="restaurant-reviews__reviews-container">
        </div>
        <div class="restaurant-reviews__details-container">
        </div>
    </div>

</div>