/* Блок отзывов */
.restaurant-reviews {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 0;
  text-align: left;
  grid-column: 2 / span 10;
}

/* Заголовок блока отзывов */
.restaurant-reviews__header {
  font-size: 24px;
  font-weight: bold;
  margin-left: 5px;
  color: black;
}

/* Основное тело блока отзывов */
.restaurant-reviews__body {
  display: grid;
  grid-template-areas: 'rating reviews reviews reviews details';
  gap: 20px;
  align-items: center;
  padding: 10px 0;
  border: 2px solid #f2f2f2;
  border-radius: 15px;
}

/* Секция рейтинга ресторана */
.restaurant-reviews__rating-container {
  grid-area: rating;
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: center;
  text-align: center;
}

.restaurant-reviews__rating_score {
  font-size: 35px;
}

.restaurant-reviews__rating_stars {
  font-size: 24px;
}

.restaurant-reviews__rating_amount {
  margin-top: 10px;
  font-size: 14px;
}

.restaurant-reviews__reviews-container {
  margin-left: 40px;
  grid-area: reviews;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.restaurant-reviews__details-container {
  grid-area: details;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
