<div class="restaurant-reviews">
    <span class="restaurant-reviews__header">Отзывы и оценки</span>
    <div class="restaurant-reviews__body">
        <div class="restaurant-reviews__rating-container">
            <span class="restaurant-reviews__rating_score">{{rating}}</span>
            <div class="restaurant-reviews__rating_stars">
                <div class="restaurant-reviews__rating_stars__background">
                    <div class="restaurant-reviews__rating_stars__foreground">
                    </div>
                </div>
            </div>
            <span class="restaurant-reviews__rating_amount">{{rating_count}}</span>
        </div>
        <div class="restaurant-reviews__reviews-container">
            <div class="restaurant-reviews__no_reviews">Отзывов пока нет</div>
        </div>
        <div class="restaurant-reviews__details-container">
        </div>
    </div>
</div>