/* Импорт стилей компонентов */
@use './src/components/button/button' as *;
@use './src/components/logo/logo' as *;
@use './src/components/select/select' as *;
@use './src/components/restaurantReviews/restaurantReview/restaurantReview.scss' as *;
@use './src/components/restaurantReviews/restaurantDetail/restaurantDetail.scss' as *;
@use './src/components/quantityButton/quantityButton.scss' as *;
@use './src/components/toast/toast' as *;
@use './src/components/suggest/suggest' as *;
@use './src/components/profileTableRow/profileTableRow.scss' as *;
@use './src/components/categories/categoryHeader/categoryHeader' as *;
@use './src/components/youMoneyForm/youMoneyForm' as *;

/* Импорт сложных компонентов */
@use './src/components/header/header' as *;
@use './src/components/auxHeader/auxHeader' as *;
@use './src/components/restaurantCard/restaurantCard' as *;
@use './src/components/formInput/formInput' as *;
@use './src/components/restaurantHeader/restaurantHeader' as *;
@use './src/components/restaurantReviews/restaurantReviews.scss' as *;
@use './src/components/categories/categories.scss' as *;
@use './src/components/productCard/productCard.scss' as *;
@use './src/components/productCard/cartCard/cartCard.scss' as *;
@use './src/components/suggestsContainer/suggestsContainer' as *;
@use './src/components/address/address.scss' as *;
@use './src/components/profileTable/profileTable.scss' as *;
@use './src/components/cart/cart' as *;
@use './src/components/confirmRestaurantModal/confirmRestaurantModal' as *;
@use './src/components/quantityControls/quantityControls' as *;
@use './src/components/unifiedForm/unifiedForm' as *;
@use './src/components/reviewsModal/reviewsModal' as *;
@use './src/components/starsWidget/starsWidget' as *;

/* Импорт стилей страниц */
@use './src/pages/restaurantList/restaurantList' as *;
@use './src/pages/authPage/authPage' as *;
@use './src/pages/restaurantPage/restaurantPage' as *;
@use './src/pages/profilePage/profilePage' as *;
@use './src/pages/mapModal/mapModal' as *;
@use './src/pages/404/404' as *;
@use './src/pages/orderPage/orderPage' as *;

@import '~@yandex/ymaps3-default-ui-theme/dist/esm/index.css';

/* Переменные */
:root {
  --light-grey: #F2F2F2;
  --grey: #D9D9D9;
  --white: #FFFFFF;
  --black: #000000;
  --dark-gray: #686868;
  --orange: #FF4D00;
  --dark-orange: #C23A00;
  --red: #FF0000;
  --pink: #FFDADA;
  --green: #008000;
  --border-radius: 15px;
  --blue: #2196F3;
  --brown: #3f2616;
  --light-brown: #442918;
  --light-yellow: #e4e6b2;
  --light-yellow-light: #eff0d1;
  --header-content-height: 45px;
  --real-header-height: 67.5px;
}

body {
  font-family: Calibri, sans-serif;
  font-size: 14px;
  margin: 0;
  background-color: var(--white);
}

img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header {
  padding-top: calc(var(--header-content-height) / 5);
  padding-bottom: calc(var(--header-content-height) / 5);
  display: grid;
  width: 100vw;
  align-items: center;
  justify-content: center;
  position: fixed;
  box-sizing: border-box;
  top: 0;
  left: 0;
  z-index: 10;
  height: var(--real-header-height);
  background-color: var(--white);
  transition: box-shadow 0.3s ease;

  &__logo {
    grid-area: header__logo;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

main {
  padding-top: var(--real-header-height);
}

.toastBox {
  position: fixed;
  z-index: 1000;
  bottom: 30px;
  right: 30px;
  gap: 20px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  pointer-events: none;
  padding: 20px;

  @media (max-width: 450px) {
    width: 100%;
    box-sizing: border-box;
    right: 0;
  }
}

.form__line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  gap: 5px;
  padding: 0;

  &_submit_button {
    margin-top: 15px;
  }

  & > * {
    width: 100%;
  }
}

.form__error {
  font-size: 16px;
  height: 20px;
  color: var(--red);
}

input:not([type="radio"]) {
  box-sizing: border-box;
  height: 45px;
  border-radius: var(--border-radius);
  border: 2px solid transparent;
  background-color: var(--light-grey);
  color: var(--dark-gray);
  padding-left: 10px;
  padding-right: 20px;
  transition: border 0.3s ease;

  &:focus {
    border: 2px solid var(--dark-gray);
    outline: none;
  }
}

input[type="radio"]:not(:checked) {
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}


[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: var(--dark-gray);
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid var(--grey);
  border-radius: 100%;
  background: var(--white);
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: var(--orange);
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

input[type='number'] {
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  -moz-appearance: textfield;
}

input[type='checkbox']{ opacity: 0; }

input[type='checkbox'] + label{
  position: relative;
  display: flex;
  margin: .6em 0;
  align-items: center;
  color: var(--dark-gray);
  transition: color 250ms cubic-bezier(.4,.0,.23,1);
}

@keyframes shrink-bounce{
  0%{
    transform: scale(1);
  }
  33%{
    transform: scale(.85);
  }
  100%{
    transform: scale(1);
  }
}
@keyframes checkbox-check{
  0%{
    width: 0;
    height: 0;
    border-color: var(--light-grey);
    transform: translate3d(0,0,0) rotate(45deg);
  }
  33%{
    width: .2em;
    height: 0;
    transform: translate3d(0,0,0) rotate(45deg);
  }
  100%{
    width: .2em;
    height: .5em;
    border-color: var(--light-grey);
    transform: translate3d(0,-.5em,0) rotate(45deg);
  }
}

input[type=checkbox] {
  position: relative;
  border: 2px solid var(--dark-gray);
  border-radius: 2px;
  background: none;
  cursor: pointer;
  line-height: 0;
  margin: 0 .6em 0 0;
  outline: 0;
  padding: 0 !important;
  vertical-align: text-top;
  height: 20px;
  width: 20px;
  -webkit-appearance: none;
  opacity: .5;
}

input[type=checkbox]:checked {
  background-color: var(--orange);
  opacity: 1;
}

input[type=checkbox]:disabled, input[type=checkbox]:disabled + label {
  opacity: .5;
  cursor: not-allowed;
}

input[type=checkbox]:before {
  content: '';
  position: absolute;
  right: 50%;
  top: 50%;
  width: 4px;
  height: 10px;
  border: solid var(--white);
  border-width: 0 2px 2px 0;
  margin: -1px -1px 0 -1px;
  transform: rotate(45deg) translate(-50%, -50%);
  z-index: 2;
}