<div class="promotion-card" style="--color-start: {{colorStart}}; --color-end: {{colorEnd}};">
    <p class="main-text">{{text}}</p>
    {{#if subText}}
        <p class="sub-text">{{subText}}</p>
    {{/if}}
</div>
