.button {
    /* Эти свойства буду применяться для всех кнопок */
    cursor: pointer;
	padding: 5px 15px;
    border: none;
    align-items: center;        /* Выравнивание по вертикали по центру */
    justify-content: center;    /* Выравнивание по горизонтали по центру */
}

.button:hover {
    background-image: linear-gradient(rgb(0 0 0/10%) 0 0);
}

.form__button {
    border-radius: 20px;
    font-size: 20px;
    height: 45px;
    width: 100%;
    color: white;
}

.button_active {
    background-color: var(--orange);
}

.button_inactive {
    background-color: var(--dark_gray);
}

.button_inactive:hover {
    background-image: linear-gradient(rgb(0 0 0/20%) 0 0);
}