<div class="search_page">
    <h1 class="search_page__header">Найдено:</h1>
    <div class="search_page__no-results">
        <img src="/src/assets/no-results.png" alt="No Results">
        <h1>По вашему запросу ничего не найдено</h1>
    </div>
    <div class="search_page__container"></div>
</div>
<div class="lower-sentinel"></div>