<div class="search-block" id="search-block-{{id}}">
    <div class="search-block__restaurant" id="search-block__restaurant-{{id}}"></div>
    <div class="search-block__products" id="search-block__products-{{id}}"></div>
</div>