<div class="confirm_restaurant_modal">
    <div class="confirm_restaurant_modal__content">
        <div class="confirm_restaurant_modal__title">
            Оформить заказ из ресторана <span class="highlight">{{restaurant}}</span>
        </div>
        <div class="confirm_restaurant_modal__subtitle">
            Все ранее добавленные блюда из ресторана {{previousRestaurant}} будут удалены из корзины
        </div>
        <div class="form__line">
        </div>
    </div>
</div>
