.step-progress-bar {
    // Переменные
    --line-width: 2px; // Ширина линий обводки и соединяющей линии
    --line-color: var(--orange); // Цвет линии и фона проеденного шага
    --background-color: var(--light-grey); // Стандартный цвет фона
    --progress: 0%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 512px;
    position: relative;

    // Линия между шагами
    &::before {
        content: '';
        position: absolute;
        top: 20px;
        left: 0;
        width: 100%;
        height: var(--line-width);
        background-color: var(--dark-gray);
        z-index: 0;
    }

    &::after {
        content: '';
        position: absolute;
        top: 20px;
        left: 0;
        width: var(--progress);
        height: var(--line-width);
        background-color: var(--orange);
        z-index: 1;
        transition: width 2s ease;
    }

    &__step-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .step {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        border: var(--line-width) solid var(--dark-gray);
        background-color: var(--background-color);
        z-index: 2;

        .step:not(:first-child) {
            transition-delay: 2s;
        }

        &__icon {
            position: absolute;
            width: 20px;
            height: 20px;
            object-fit: contain;
        }

        &__text {
            position: absolute;
            z-index: 1;
            top: 100%;
            color: var(--dark-gray);
            font-size: 12px;
        }
    }

    .completed {
        .step {
            border: var(--line-width) solid var(--line-color);
            background-color: var(--orange);

            &__text {
                color: var(--black);
                font-size: 12px;
            }
        }
    }
}