.quantity-controls {
  display: flex;
  width: 100%;
  aspect-ratio: 3 / 1;
  align-items: center;
  border-radius: var(--border-radius);
  overflow: hidden;
  border: 2px solid transparent;
  box-sizing: border-box;


  &:focus-within {
    border: 2px solid var(--orange);
  }


  input {
    width: 40%;
    height: 100%;
    border-radius: 0;
    text-align: center;
    border: none;
    padding: 0;
    background-color: var(--light-grey);
    transition: background-color 0.3s ease;

    &:focus {
      outline: none;
      border: none;
      background-color: var(--white);
    }

    -moz-appearance: textfield;
  }
}