.form__input {
    color: black;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    text-align: left;
    width: 100%;
}

.input {
    height: 35px;
    border-radius: 10px;
    border: none;
    background-color: var(--light_grey);
    color: var(--dark_gray);
    padding-left: 10px;
}

.form__input input {
    height: 45px;
    border-radius: 10px;
    border: none;
    background-color: var(--light_grey);
    color: var(--dark_gray);
    padding-left: 10px;
}

.form__input span {
    font-size: 20px;
}

.form__input-head {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.form__input__error {
    color: var(--red);
}
