.restaurant__card {
  gap: 5px;
  color: black;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  border-radius: 10px;
  min-width: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 10px 15px 10px;

  &__image {
    position: relative;
    width: 100%;
    aspect-ratio: 2 / 1;
    object-fit: cover;
    border-radius: 7px;
    overflow: hidden;
  }

  &__content {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__title {
      width: 100%;
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &.vertical {
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
      }
    }
  }

  &__name {
    font-weight: bold;
  }

  &__rating {
    margin: 10px 0 5px;
  }

  &__text {
    color: var(--dark-gray);
    font-size: 12px;
  }

  &__description {
    position: absolute;
    z-index: 2;
    top: 10px;
    left: 10px;
    font-size: 14px;
    padding: 5px;
    max-width: 200px !important;
    color: white;
    border-radius: 7px;

    &.description--red {
      background-color: #e63946;
    }

    &.description--blue {
      background-color: #0073e6;
    }

    &.description--darkgreen {
      background-color: #2e7d32;
    }

    &.description--orange {
      background-color: #ff9800;
    }

    &.description--purple {
      background-color: #8e44ad;
    }

    &.description--green {
      background-color: #43a047;
    }
  }

  &:hover {
    background-color: var(--light-grey);
  }

  span {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
  }
}

.restaurant__search-card {
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
  .restaurant__card {

    &__image {
      max-width: 70px;
      aspect-ratio: 1 / 1;
    }

    &__name {
      font-size: 20px;
    }

    &__content {
      flex-direction: row;
      align-items: center;
      gap: 10px;
    }

    &__description {
      display: none;
    }

    &__text {
      display: none;
    }
  }
}