.restaurant__card {
  gap: 5px;
  color: black;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  border-radius: 10px;
  min-width: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 10px 15px 10px;

  &__image {
    width: 100%;
    aspect-ratio: 2 / 1;
    object-fit: cover;
    border-radius: 7px;
  }

  &__content {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__title {
      width: 100%;
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &.vertical {
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
      }
    }
  }

  &__name {
    font-weight: bold;
  }

  &__rating {
    margin: 10px 0 5px;
  }

  &__description {
    color: var(--dark-gray);
    font-size: 12px;
  }

  &:hover {
    background-color: var(--light-grey);
  }

  span {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
  }
}

.restaurant__search-card {
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
  .restaurant__card {

    &__image {
      max-width: 70px;
      aspect-ratio: 1 / 1;
    }

    &__name {
      font-size: 20px;
    }

    &__content {
      flex-direction: row;
      align-items: center;
      gap: 10px;
    }

    &__description {
      display: none;
    }
  }
}