.restaurant__card {
    gap: 10px;
    color: black;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Центрирование содержимого по горизонтали */
    text-align: left;
}

.restaurant__card img {
    margin-bottom: 5px;
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
}