<div class="otp-input-wrapper" id="{{id}}">
    <section>
        <div class="otp-input">
            {{#each inputs}}
                <input type="text" maxlength="1" data-index="{{this}}" />
            {{/each}}
        </div>
    </section>
</div>
