.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: var(--header-height);
  cursor: pointer;

  img {
    width: 100%;
    max-height: var(--header-height);
    object-fit: contain;
  }
}
