.logo {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: var(--header-content-height);
  cursor: pointer;

  img {
    height: 100%;
    max-height: var(--header-content-height);
    object-fit: contain;
  }
}
