<div class="login-form">
    <h2>Войти</h2>
    <form>
        <input type="text" placeholder="Логин" required>
        <input type="password" placeholder="Пароль" required>
        <button class="login-form__login-button" type="submit">Войти</button>
    </form>
    <a class="signup-link">Ещё не зарегистрированы?</a>
</div>