.cart-card {
  padding: 1%;
  border-radius: 10px;
  display: grid;
  gap: 5%;
  grid-template-columns: 25% 55% 10%;
  background-color: var(--white);
  align-items: center;
  position: relative;
  transition: background-color 0.3s ease;
  aspect-ratio: 16/1;
  width: 100%;
  box-sizing: border-box;

  // Container Query
  container-type: inline-size;
  container-name: cart;

  @media (max-width: 1200px) {
    aspect-ratio: 10/1;
    grid-template-columns: 40% 40% 20%;
  }

  &.active,
  &:hover {
    background-color: var(--light-grey);

    .cart-card__bin_icon {
      display: block;
    }
  }

  span {
    margin-left: 5px;
  }

  &__product_icon {
    width: 100%;
    aspect-ratio: 6 / 5;
    object-fit: cover;
    border-radius: 10px;
    filter: brightness(0.95);
  }

  &__bin_icon {
    cursor: pointer;
    max-width: 40%;
    max-height: 20px;
    height: auto;
    filter: grayscale(100%) opacity(0.6);
    transition: filter 0.2s ease;
    display: none;

    &:hover {
      filter: none;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__name {
      padding-bottom: 5px;

      @container cart (width < 250px) {
        font-size: 14px;
      }
    }

    &__bottom {
      display: flex;
      margin-bottom: 4%;

      @container cart (width < 250px) {
        flex-direction: column;
      }

      @container cart (width >= 700px) {
        margin-bottom: 0;
        display: flex;
        align-items: center;
      }
    }

    &__total_price {
      font-weight: bold;
      white-space: nowrap;
      display: inline-block;
      font-size: 14px;

      @container cart (width < 250px) {
        font-size: 14px;
      }

      @container cart (width >= 500px) {
        font-size: 16px;
      }
    }

    &__weight {
      color: var(--dark-gray);
      white-space: nowrap;
      display: inline-block;

      @container cart (width < 250px) {
        font-size: 14px;
      }

      @container cart (width >= 500px) {
        font-size: 16px;
      }
    }

    &__dot {
      @container cart (width < 250px) {
        display: none;
      }
    }

    &__quantity-controls-wrapper {
      @container cart (width < 250px) {
        max-width: 70%;
      }

      @container cart (width >= 250px) and (width < 500px) {
        max-width: 50%;
      }

      @container cart (width >= 500px) and (width < 700px) {
        max-width: 40%;
      }
    }

    @container cart (width >= 700px) {
      display: grid;
      grid-template-columns: 25% 30% 25%;
      align-items: center;
      gap: 10%;

      .cart-card__content__name {
        grid-column: 1 / span 1;
        display: flex;
        align-items: center;
        padding: 0;
      }

      .cart-card__content__bottom {
        grid-column: 2 / span 1;
        display: flex;
        align-items: center;
      }

      .cart-card__content__quantity-controls-wrapper {
        grid-column: 3 / span 1;
      }
    }
  }

  @container cart (width < 250px) {
    .cart-card__bin_icon {
      position: absolute;
      top: 10px;
      right: 10px;
      max-width: 15px;
    }
  }
}
