.cart {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  height: calc(100vh - (var(--real-header-height) + 20px));
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.2);
  padding: 15px 10px 10px 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;


  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    &-left {
      font-size: 20px;
      font-weight: bold;
    }
  }

  &__products_container {
    flex-grow: 1;
    overflow-y: auto;
  }

  &__empty {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__image {
      width: 60%;
    }

    &__text {
      max-width: 70%;
      font-weight: bold;
      font-size: 22px;
      text-align: center;
    }
  }

  &-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--border-radius);
    font-size: 16px;
    background-color: var(--dark-gray);
    color: var(--white);
    padding: 16px;
    cursor: pointer;

    &.inactive {
      background-color: var(--grey);
      cursor: default;

      &:hover {
        background-image: none;
      }
    }

    &:hover {
      background-image: linear-gradient(rgb(0 0 0 / 20%), rgb(0 0 0 / 20%));
    }
  }
}
