<div class="cart">
    <div class="cart__header">
        <div class="cart__header-left">
            Корзина
        </div>
        <div class="cart__header-right">
            Очистить
        </div>
    </div>
    <div class="cart__products_container">
        <div class="cart__empty">
            <img class="cart__empty__image" src="/src/assets/empty.png" alt="Empty cary">
            <div class="cart__empty__text">
                В вашей корзине пока ничего нет
            </div>
        </div>
    </div>
    <div>
        <hr class="cart__separator">
        <div class="cart-footer inactive">
            <span>Далее</span>
            <div>
                <span class="cart__total">0</span>
                <span> ₽</span>
            </div>
        </div>
    </div>
</div>