<div class="form__error"></div>
<div class="form__line" id="form__line__firstname_lastname"></div>
<div class="form__line" id="form__line__phone"></div>
<div class="form__line" id="form__line__register_login"></div>
<div class="form__line" id="form__line__register_password"></div>
<div class="form__line" id="form__line__repeat_password"></div>
<div class="form__line form__line_submit_button" id="form__line_register_button"></div>