<div class="reviews_modal">
    <div class="reviews_modal__content">
        <div class="reviews_modal__header">
            <div class="reviews_modal__title">
                Отзывы
            </div>
            <img src="/src/assets/close.png" class="reviews_modal__close_icon" alt="close icon">
        </div>
        <div class="reviews_modal__reviews_container">
        </div>
        <div class="reviews_modal__new_review">
            <label>
                <textarea class="reviews_modal__new_review__textarea" placeholder="Что вы думаете об этом месте?"></textarea>
            </label>
            <div class="reviews_modal__new_review__bottom">
                <div class="reviews_modal__new_review__bottom_stars"></div>
            </div>
        </div>
    </div>
</div>
