<div class="qr_modal">
    <div class="qr_modal__content">
        <div class="qr_modal__header">
            <div class="qr_modal__title">
                Обязательно сохраните этот QR-код
            </div>
        </div>
        <div class="qr_modal__subtitle">
            Он потребуется Вам при всех дальнейших входах в аккаунт
        </div>
        <div class="qr_modal__qr_wrapper">
            <img src="{{qrSrc}}" alt="QR-код" class="qr_modal__qr_image">
        </div>
        <div class="form__line"></div>
    </div>
</div>
