<label class="checkbox-container">
    <input
            type="checkbox"
            id="{{id}}"
        {{#if checked}}checked{{/if}}
        {{#if disabled}}disabled{{/if}}
    />
    <span class="checkbox-label">{{label}}</span>
</label>
