<div class="address" id="{{id}}">
    <div class="address__radio-group">
        {{#unless isHeaderAddress}}
            <input type="radio" {{#if isChecked}}checked{{/if}}/>
        {{/unless}}
        <span>{{address}}</span>
    </div>
    <div class="address__button-group">
    </div>
</div>