.address {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding: 0 15px;
    background-color: #fff;
    border-radius: 10px;

    &:hover {
        background-color: #F2F2F2;

        .address__button-group {
            display: flex;
        }
    }

    &__radio-group {
        display: flex;
        align-items: center;
        gap: 10px;

        input {
            margin: 0;
            cursor: pointer;
        }
    }

    &__button-group {
        display: none;
        align-items: center;
        gap: 10px;
        color: var(--white);

        .button {
            background-color: var(--white);
        }
    }
}


@container (width < 600px) {
    .address {
        padding: 3%;
    }
}

@container (width > 600px) {
    .address {
        min-height: 60px;
    }
}