<div class="map_modal">
    <div class="map_modal__content">
        <div class="map_modal__header">
            Укажите адрес доставки
        </div>
        <div class="map_modal__subheader">
            Чтобы курьер смог вас найти
        </div>
        <div class="form__line" id="form__line_search"></div>
        <div class="map_modal__map" id="map"></div>
    </div>
</div>