<div class="map_modal">
    <div class="map_modal__content">
        <div class="map_modal__header">
            <div>Укажите адрес доставки</div>
            <img src="/src/assets/close.png" class="map_modal__close_icon" alt="close icon">
        </div>
        <div class="map_modal__subheader">
            Чтобы курьер смог вас найти
        </div>
        <div class="form__line" id="form__line_search">
            <div class="map_modal__search_container">
                <img src="/src/assets/search-interface-symbol.png" alt="search icon" class="map_modal__search_icon">
                <input type="search" placeholder="Введите улицу и дом" id="map_modal__input" autocomplete="off">
            </div>
        </div>
        <div class="map_modal__map" id="map"></div>
    </div>
</div>